#about-container {
	padding-top: 40px;
	padding-bottom: 100px;
}

#matters li {
	margin: 10px 0;
}

#blo-sign {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

#blo-sign img {
	width: 50%;
	border: 1px solid gray;
}

@media (max-width: 767px) {
	#blo-sign img {
		width: 80%;
	}
}