#contact-container {
	padding-top: 40px;
	padding-bottom: 100px;
}

.contact-block {
	padding-bottom: 30px;
}

#googleMap {
	margin: 0 auto;
	width: 350px;
	height: 300px;
}

@media (max-width: 767px) {
	#contact-container {
		text-align: center;
	}	
}